table {
  border-collapse: collapse;
}

table td {
  border: 1px solid #e0e0e0;
}

table tbody td.borderless {
  border: none;
}

div#wizard > div.content {
  min-height: 100px;
}

div#wizard > div.content > section {
  width: 100%;
  height: auto;
  padding: 15px;
  position: relative;
}

.draggable:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.draggable:active, .gu-mirror {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
