/* Overrides first! */

/* jQuery Autocomplete */

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  margin: 0;
  z-index: 999;
  min-width: 100px;
  overflow-y: auto;
  max-height: 650px;
  position: absolute;
  background-color: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ui-menu-item-wrapper {
  clear: both;
  width: 100%;
  display: block;
  color: #26a69a;
  cursor: pointer;
  text-align: left;
  min-height: 50px;
  font-size: 1.2rem;
  padding: 14px 16px;
  line-height: 1.5rem;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

.ui-menu-item .ui-state-focus,
.ui-menu-item .ui-state-active {
  background-color: #eee;
}

/* Materialize */

.btn {
  margin-left: 2px;
  margin-right: 2px;
}

.btn-short {
  padding: 0 0.65rem;
}

.container {
  width: 95% !important;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90% !important;
  }
}

@media only screen and (min-width: 993px) {
  100% .container {
    width: 85% !important;
  }
}

/* Our custom stuff */

.greenhover:hover {
  color: green;
}

.redhover:hover {
  color: red;
}

.martop-50px {
  margin-top: 50px;
}

.marbot-25px {
  margin-bottom: 25px;
}

.marleft-10px {
  margin-left: 10px;
}

.combo-caret {
  cursor: pointer;
  top: -16px !important;
  font-size: 12px !important;
}
